<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <p id="notice"><%= notice %></p>

    <p>
      <strong>Name</strong><br>
      <%= @blog.user.name %>
    </p>

    <p>
      <strong>Title</strong><br>
      <%= @blog.title %>
    </p>

    <p>
      <strong>Content</strong><br>
      <%= @blog.content %>
    </p>

    <br>

    <%= link_to 'Edit', edit_blog_path(@blog) , class: 'btn btn-default btn-sm btn-info' %>
    <%= link_to 'Back', blogs_path , class: 'btn btn-default btn-sm btn-info' %>
  </div>
</div>