<div class="container">

  <div class="col-md-8 ">

    <p id="notice"><%= notice %></p>



      <h1><%= @blog.title %></h1>
      <p class="lead">
          by <a href="<%= root_path %>">Start Bootstrap</a>
      </p>


      <!-- Date/Time -->
      <p><span class="glyphicon glyphicon-time"></span> <%= @blog.created_at %></p>



      <hr>
      <p class="lead">Name:<%= @blog.user.name %></p>
      <h2><p>content:<%= @blog.content %></p></h2>

      <hr>
    <br>

    <%= link_to 'Edit', edit_blog_path(@blog) , class: 'btn btn-default btn-sm btn-info' %>
    <%= link_to 'Back', blogs_path , class: 'btn btn-default btn-sm btn-info' %>
  </div>
</div>
